*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(0, 0, 0);
}

.game-board {
    width: 100%;
    height: 500px;
    border-bottom: 15px solid rgb(12, 131, 12);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#000000, #e01e1e);
}

.score {
    position: absolute;
    top: 10px;
    left: 0;
    color: white;
    left: 100px;
    font-size: x-large;
    font-family: Marker Felt, fantasy;
}

.goomba {
    position: absolute;
    top: 410px;
    width: 80px; 
    animation: goomba-animation 3s infinite linear;
}

.itachi {
    position: absolute;
    width: 150px;
    top: 350px;  
}

.clouds {
    position: absolute;
    width: 500px;
    animation: clouds-animation 20s infinite linear;
}

.ray {
    position: absolute;
    width: 200px;
    bottom: 140px;
    animation: clouds-animation 20s infinite linear;
}

.crow {
    position: absolute;
    width: 100px;
    bottom: 350px;
    animation: crow-animation 30s infinite linear;
}

.moon {
    position:relative;
    width: 150px;
    bottom: -30px;
    left: 555px;
}
   
.jump {
    animation: jump 500ms ease-out;
}

.gameover {
    position: absolute;
    width: 0px;
}

@keyframes crow-animation {
    from {
        right: 0;
    }

    to {
        right: 100%;
    }
}

@keyframes goomba-animation {
from {
        right: -80px;
    }
 
    to {
        right: 100%;
    }
}

@keyframes clouds-animation {
    from {
        right: -500px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
     
    0% {
        top: 365px;
    }
    20% {
        top: 250px;
    }
    30% {
        top: 250px;
    }
    40% {
        top: 250px;
    }
    50% {
        top: 250px;
    }
    60% {
        top: 250px;
    }
    70% {
        top: 250px;
    }
    100% {
        top: 365px;
    }
}